<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description"
        content="{{ description }}">

  <link rel="stylesheet"
        href="css/main.css">

  <script>
    var app = {}
  </script>
</head>

<body>

  <header>
    {{> navbar.hbs}}
  </header>

  <section class="section">
    <div class="container">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  </section>

  {{{ contents }}} {{> footer.hbs}}

</body>

</html>
